junk
MicropolisCore/src/MicropolisEngine/micropolis-engine.xcodeproj/project.xcworkspace/xcuserdata
MicropolisCore/src/MicropolisEngine/micropolis-engine.xcodeproj/xcuserdata
Micropolis.xcodeproj/xcuserdata